/* Add your custom styles here */

.greeting {
  height: 4rem;
  text-align: center;
  padding: 1rem;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: #fff !important;
  padding: 1rem;
}

.navbar-brand img {
  width: 6rem;
  height: 2rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#book-btn {
  background-color: #3498db;
  color: #fff;
  font-weight: 800;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

#book-btn:hover {
  background-color: #14171a;
  
}

@media (max-width:800px){
  .middles{
    display:none
  }
  .greeting{
    height:6rem;
  }
}