body {
  margin: 0;
  background-color: #000 !important;
  color: #fff !important;
   font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

